*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.log
*.out
*.bbl
*.blg
*.toc
textbooks/*
.rumdl_cache/*
Templates/*.pdf
sem2-2026/math3023/MATH3023\ Unit\ Reader.pdf
sem1-2026/MATH1011/*
sem2-2026/math3023/lecture\ notes/Week1_edits.pdf
